<!DOCTYPE html>
<html lang="en">
  <h2>Admin Dashboard</h2>
  <h3>Add New Film</h3>



<div>
  <form action="/metadata_for_last_asset" method="post">
    <input type="submit" value="TESTING">
  </form>

  <mux-uploader
    endpoint='<%= special_endpoint%>'
  ></mux-uploader>
</div>

<script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>
</html>
<!--
Or you may need to put the Mux upload feature here
instead.
-->

