<!DOCTYPE html>
<html lang="en">
<body>
  <h1>Admin Dashboard</h1>
  <h2>Add New Asset</h3>

  <h3>Upload Video</h2>
  <!-- You can also upload subtitle files along with this -->
  <div class="upload_asset">
    <mux-uploader
      endpoint='<%= special_endpoint%>'
      ></mux-uploader>
  </div>
</div>

<div class="admin_cli_logs">
  <form action="/metadata_for_last_asset" method="post">
    <label>
     <input type="submit" value="LOG LAST PLAYBACK_ID TO TERMINAL">
   </form>
</div>

<div class="upload_asset_metadata">
  <form action="/upload_asset_metadata#" method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title"><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

    <label for="year">Year:</label><br>
    <select id="year" name="year">
      <option value="">Select Year</option>
      <!-- Using JavaScript to populate years dynamically -->
    </select><br><br>

    <label for="country">Country:</label><br>
    <input type="text" id="country" name="country" list="countries"><br>
    <datalist id="countries">
      <!-- Include options for all countries -->
    </datalist><br><br>

    <label for="genre">Genre/Tags:</label><br>
    <input type="checkbox" id="action" name="genre[]" value="Action">
    <label for="action">Action</label><br>
    <input type="checkbox" id="comedy" name="genre[]" value="Comedy">
    <label for="comedy">Comedy</label><br>
    <input type="checkbox" id="drama" name="genre[]" value="Drama">
    <label for="drama">Drama</label><br>
    <input type="checkbox" id="romance" name="genre[]" value="Romance">
    <label for="romance">Romance</label><br>
    <input type="checkbox" id="documentary" name="genre[]" value="Documentary">
    <label for="documentary">Documentary</label><br>
    <input type="checkbox" id="other" name="genre[]" value="Other">
    <label for="other">Other</label><br>
    <br>

    <label for="notes">Notes:</label><br>
    <textarea id="notes" name="notes" rows="4" cols="50"></textarea><br><br>

    <input type="submit" value="Submit">
  </form>
</div>

<script>
  // JavaScript to populate the year dropdown dynamically
var currentYear = new Date().getFullYear();
var yearDropdown = document.getElementById("year");
for (var i = currentYear; i >= 1900; i--) {
  var option = document.createElement("option");
  option.text = i;
  option.value = i;
  yearDropdown.add(option);
}

// JavaScript to populate the country datalist dynamically

var countries = [
  "French", "Japan", "China", "English", "German", "Italy", "US"
];
var countryDatalist = document.getElementById("countries");
countries.forEach(function(country) {
  var option = document.createElement("option");
  option.value = country;
  countryDatalist.appendChild(option);
});
</script>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>
</html>

