<!DOCTYPE html>
<html lang="en">
  <h2>Admin Dashboard</h2>
  <h3>Add New Film</h3>


  <%# <mux-uploader
  endpoint="<%= @signed_upload_url %>"
  ></mux-uploader>  %>

<form>
  <mux-uploader
  endpoint=<%= @upload %>
  ></mux-uploader>
</form>

<script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>
</html>
<!--
Or you may need to put the Mux upload feature here
instead.
-->

