<!DOCTYPE html>
<html lang="en">
  <h2>Admin Dashboard</h2>
  <h3>Add New Film</h3>



<div>
  <%# <form action="/upload_new_asset" method="post" enctype="multipart/form-data">
    <label for="new_video">Check the playback ID of last upload:</label>
    <%# <input type="file" id="new_video" name="new_video" accept="video/*"> %>
    <button type="submit">Submit</button>
  </form> %>
  <mux-uploader
    endpoint='<%= special_endpoint%>'
  ></mux-uploader>
</div>

<script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>
</html>
<!--
Or you may need to put the Mux upload feature here
instead.
-->

