<!DOCTYPE html>
  <html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login_page.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<body>

<div class="title-box">
    <h1>admin</h1>
</div>

  <div class="flash-container">
    <% flash.keys.each do |type| %>
      <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        <img class="flash-icon" src="assets/lock-solid.svg" alt="Lock Icon">
      </div>
    <% end %>
  </div>

<div class="form-container">
  <form action="/admin_login" method="post">
    <input type="password" class="input-field"  id="password" name="password" placeholder="enter password" required>
    <button type="submit" class="submit-button">enter</button>
  </form>
</div>

<script src="/javascript/login/flash_message_fade-out.js"></script>

</body>