<!DOCTYPE html>
<html lang="en">
<body>
  <h1>Admin Dashboard</h1>

  <!-- Each of these should be a partial later on   -->

<div class="monitoring">
  <%= partial :"partials/admin_panel/monitoring"%>
</div>

<div class="upload_asset_metadata">
  <%= partial :"partials/admin_panel/uploading_asset_metadata"%>
</div>

<script>
  // JavaScript to populate the year dropdown dynamically
var currentYear = new Date().getFullYear();
var yearDropdown = document.getElementById("year");
for (var i = currentYear; i >= 1900; i--) {
  var option = document.createElement("option");
  option.text = i;
  option.value = i;
  yearDropdown.add(option);
}

// JavaScript to populate the country datalist dynamically

var countries = [
  "French", "Japan", "China", "English", "German", "Italy", "US"
];
var countryDatalist = document.getElementById("countries");
countries.forEach(function(country) {
  var option = document.createElement("option");
  option.value = country;
  countryDatalist.appendChild(option);
});
</script>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>
</html>

