<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    .tab-buttons {
      display: flex;
    }
    .tab-button {
      padding: 10px;
      margin-right: 10px;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 5px 5px 0 0;
    }
    .tab-button.active {
      background-color: #f0f0f0;
    }
    .tab-content {
      display: none;
      padding: 20px;
      border: 1px solid #ccc;
      border-top: none;
      border-radius: 0 0 5px 5px;
    }
  </style>
  
  <script>
  function toggleTab(tabName) {
    console.log("We are in the toggleTab script");
  const monitoring = document.querySelector('.monitoring');
  const upload = document.querySelector('.upload_asset_metadata');
  const userMetrics = document.querySelector('.user_monitoring');

  if (tabName === 'monitoring') {
    monitoring.style.display = 'block';
    upload.style.display = 'none';
    userMetrics.style.display = 'none';
  } else if (tabName === 'upload_asset_metadata') {
    monitoring.style.display = 'none';
    upload.style.display = 'block';
    userMetrics.style.display = 'none';
  } else if (tabName === 'user_monitoring') {
    monitoring.style.display = 'none';
    upload.style.display = 'none';
    userMetrics.style.display = 'block';
  }
}
  </script>
</head>

<body>
  <h2>Admin Dashboard</h2>

<div class="tab-buttons">
  <div class="tab-button" onclick="toggleTab('monitoring')">Asset Monitoring</div>
  <div class="tab-button" onclick="toggleTab('upload_asset_metadata')">Asset Upload</div>
  <div class="tab-button" onclick="toggleTab('user_monitoring')">User Metrics</div>
</div>

<div class="monitoring">
  <%= partial :"partials/admin_panel/monitoring"%>
</div>

<div class="upload_asset_metadata">
  <%= partial :"partials/admin_panel/uploading_asset_metadata"%>
</div>

<div class="user_monitoring">
  <%= partial :"partials/admin_panel/user_monitoring"%>
</div>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>
