<!DOCTYPE html>
<html lang="en">
<body>
  <h2>Admin Dashboard</h2>

<div class="monitoring">
  <%= partial :"partials/admin_panel/monitoring"%>
</div>

<div class="upload_asset_metadata">
  <%= partial :"partials/admin_panel/uploading_asset_metadata"%>
</div>

<div class="user_monitoring">
  something inside
</div>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>
</html>

