<!-- views/index.erb -->
<% if @assets.any? %>
  <%= partials :"partials/index_panel/has_assets"%>
<% else %>
  <p>No films available at the moment...</p>
<% end %>

<!-- Script for hiding and revealing EDIT form -->
<script>
  document.querySelectorAll('.edit-button').forEach(function(button) {
    button.addEventListener('click', function() {
      var assetId = this.getAttribute('data-asset-id');
      var editForm = document.getElementById('editForm_' + assetId);
      editForm.style.display = 'block';
      this.style.display = 'none';
    });
  });
</script>
</div>
