<!-- views/index.erb -->

  <% if @assets.any? %>

    <%= partial :"partials/index_panel/has_assets"%>

  <% else %>

    <p>No films available at the moment...</p>

  <% end %>


    <script src="/javascript/user_experience.js"></script>