<!-- views/layout.erb -->
<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PirateHub</title>

    <style>

mux-player::part(center play button) {
    display: none;
  }
    mux-player {
      aspect-ratio: 16 / 9;
      --controls: none;

    }
      /* --media-object-fit: cover;
      /* --controls-backdrop-color: rgb(0 0 0 / 60%); */
      /* --media-object-position: center; */

    </style>
  </head>
  <body>

    <header>
      <div class="brand-title">
        <h1 data-value="STATUS 200">STATUS 200</h1>
      </div>

      <%# TODO: Should only visible for admin %>

      <div class="admin-nav">
        <a href="/admin"> Admin page</a>
        <a href="/"> Assets listed </a>
      </div>

      <%= partial :"partials/index_panel/navigation_tool"%>

    </header>

    <div class="client-data" data-session-id="<%= @sesh %>"></div>

    <button id="dark-mode-toggle">Toggle Dark Mode</button>
    <script src="/javascript/darkmode-toggle.js"></script>
    <script src="/javascript/branding_glitch.js"></script>
    <%# TODO: move this script to selected pages only %>
    <script src="/javascript/user_experience.js"></script>

<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
    <script>
      window.formbutton =
        window.formbutton ||
        function() {
          (formbutton.q = formbutton.q || []).push(arguments);
        };
      formbutton("create", {
        action: "https://formspree.io/YOUR_FORM_ID",
        title: "SUGGEST FILM",
        fields: [
          {
            type: "text",
            label: "Title:",
            name: "title",
          },
          {
            type: "text",
            label: "Director:",
            name: "director",
          },
          {
            type: "text",
            label: "Subtitles",
            name: "subtitles",
          },
          {
            type: "textarea",
            label: "Message:",
            name: "message",
          },
          {
            type: "email",
            label: "Email:",
            name: "email",
          },
          {
            type: "checkbox",
            label: "Notify me when my film is uploaded",
            name: "_optin",
          },
          { type: "submit",
            value: "Send",
            style: {
              input: {
                background: "#333",
                color: "#eaeaea",
                padding: "5px",
              }
            }
          }
        ],
        styles: {
          fontFamily:  "Press Start 2P",
          modal: {
            border: "1px solid #6D6875",
            boxShadow: "6px 6px 0 #333333",
            borderRadius: "0",
          },
          title: {
            padding: "24px 24px 0px 24px",
            background: "#eaeaea",
            color: "#2e2a37",
            fontFamily: "Press Start 2P",
            fontSize: "1.5em",
          },
          body: {
              padding: "16px 24px 24px",
            background: "#eaeaea"
          },
          field: {
            display: "flex",
          },
          submitField: {
            justifyContent: "flex-end",
          },
          label: {
            width: "40%",
            fontFamily: "Press Start 2P",
            fontWeight: "bold"
          },
          checkboxLabel: {
            width: "auto",
          },
          input: {
            borderRight: "1px solid rgba(0,0,0,0.1)",
            borderBottom: "1px solid rgba(0,0,0,0.1)",
            borderRadius: "0px",
            background: "#eaeaea"
          },
          button: {
            background: "#eaeaea",
            fill: "#333333",
            border: "1px solid #6D6875",
            boxShadow: "3px 3px 0px #333333"
          },
          closeButton: {
            textShadow: "0 0 0 #2e2a37",
          }
        },
        initiallyVisible: true
      });
    </script>

    <main>
      <%= yield %>
    </main>

  </body>
  <footer>
  </footer>
</html>