<!-- views/layout.erb -->
<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PirateHub</title>

    <style>

    mux-player {
      aspect-ratio: 16 / 9;
      /* --media-object-fit: cover;
      --media-object-position: center; */
    } 

    </style>
  </head>
  <body>
    <header>
      <h1>PirateHub</h1>
      <a href="/admin"> Admin page</a>
      <a href="/"> Assets listed </a>
    </header>
    <main>
      <%= yield %>
    </main>
    <%# <script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script> %>
  </body>
  <footer>
  </footer>
</html>

