<!-- views/layout.erb -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PirateHub</title>
  </head>
  <body>
    <header>
      <h1>Welcome… </h1>

      <a href="/admin"> Admin page</a>
      <a href="/"> Assets listed </a>
    </header>
    <main>
      <%= yield %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader@1.0.0-beta.6"></script>
  </body>
</html>

