<!DOCTYPE html>
  <html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login_page.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<%# <div class="container"> %>
<div class="form-container">
  <form action="/login" method="post">
    <input type="password" class="input-field"  id="password" name="password" placeholder="enter password">
    <button type="submit" class="submit-button">Enter</button>
  </form>
</div>
<%# </div> %>

<div id="three-container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r120/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="/javascript/login/three.js"></script>

<%# ===========================================================================
diff below %>

<%# </body>
</html> %>

<!-- views/layout.erb -->
<%# <!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login_page.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

<div class="auth-form">
  <form action="/login" method="post">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="enter password">
    <button type="submit">ENTER</button>
  </form>
</div>

<div id="three-container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r120/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="/javascript/login/three.js"></script> %>


<%# <div class="form-container">
  <input type="text" class="input-field" placeholder="Enter password">
  <button type="submit" class="submit-button">Enter</button>
</div> %>