
          <div> <b>The playback ID is:</b> <%= asset.playback_id%> </div>
          <div> <b> The asset ID is:</b> <%= asset.asset_id%> </div>
          <div> <b>The database ID is:</b> <%= asset.database_id%> </div>
