
          <div class="asset_info_buttons">
            <button class="asset-data-button" data-asset-id="<%= asset.asset_id %>">asset data</button>
            <button class="edit-button" data-asset-id="<%= asset.asset_id %>">EDIT</button>
          </div>
