
<div class="video-container">

  <% @assets.each do |asset| %>

  <turbo-frame id="asset_<%= asset.asset_id %>">
    <%= partial :"partials/index_panel/asset", locals: { asset: asset }%>
  </turbo-frame>

  <% end %>
</div>

<%# <script>
  document.addEventListener('turbo:load', function() {
    document.querySelectorAll('[data-turbo-frame="update"]').forEach(function(checkbox) {
      checkbox.addEventListener('change', function() {
        this.form.submit();
      });
    });
  });
</script> %>

<script src="/javascript/enter-full-screen.js"></script>
<script src="/javascript/show_asset_actions.js"></script>
<script src="/javascript/show_asset_details_on_hover.js"></script>
<script src="/javascript/show_asset-data.js"></script>
<script src="/javascript/confirm_deletion_of_asset.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@mux/mux-player"></script>