
<div class="genre-container">
      <label for="genre" style="font-size: 22px">Genre:</label><br>
      <% @genre_options.each do |genre| %>
            <input type="checkbox" id="<%= genre.downcase %>" name="genre[]" value="<%= genre %>">
            <label for="<%= genre.downcase %>"><%= genre %></label><br>
      <% end %>
</div>
