/* ************************************ */
/* ADMIN PAGE                           */
/* ************************************ */

/* The anchor tag is for links that may be useful */
a {
  color: var(--brand-colour);
}

#important-info {
  color: yellow;
}

.monitoring {
  border: 2px solid black;
  margin: 50px;
}

.upload_asset_metadata {
  margin: 50px;
  border: 2px solid black;
}

.monitoring-data {
  padding: 5px;
  font-weight: 400;
  color: white;
  background-color: grey;
}

.monitoring-segment {
  color: black;
}

.monitoring-count-error {
  color: var(--alert-colour);

}

.monitoring-count-ok {
  color: var(--valid-colour);
}

#submit-button {
  display: block;
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 16px;
}


#submit-button:disabled {
  background-color: #ccc; /* Grey background */
  color: #666; /* Dark grey text */
  cursor: not-allowed; /* Cursor */
}

.thumbnail-position {
  display: flex;
  align-items: center;
}

.thumbnail-position label {
  margin-right: 10px;
}

.thumbnail-position select {
  margin-right: 10px;
}

.genre-container {
  display: flex;
  align-items: center;
}

.genre-container input[type="checkbox"] {
  margin-right: 5px;
}

.genre-container label {
  margin-right: 10px;
}

.year-container {
  display: flex;
  align-items: center;
}

.year-container label {
  margin-right: 10px;
}