/* ************************************ */
/* ************************************ */
/*            ADMIN PAGE                */
/* ************************************ */
/* ************************************ */

/* The anchor tag is for links that may be useful */
a {
  color: var(--brand-colour);
}

#important-info {
  color: yellow;
}

/* ================================= */
/*            MONITORING             */
/* ================================= */

.monitoring {
  border: 2px solid black;
  margin: 50px;
}

.monitoring-data {
  padding: 5px;
  font-weight: 400;
  color: white;
  background-color: rgb(184, 183, 183);
}

.monitoring-segment {
  color: black;
}

.monitoring-count-error {
  color: var(--alert-colour);
}

.monitoring-count-ok {
  color: var(--valid-colour);
}

/* ================================= */
/* UPLOADING FORMS LAYOUT AND STYLES */
/* ================================= */

.upload_asset_metadata {
  margin: 50px;
  border: 2px solid black;
}

.upload_asset_metadata .upload-entry-forms {
  left: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#submit-button {
  display: block;
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 16px;
}

#submit-button:disabled {
  background-color: #ccc; 
  color: #666;
  cursor: not-allowed;
}

/* ================================= */
/*         UPLOADING ELEMENTS        */
/* ================================= */

.thumbnail-position {
  display: flex;
  align-items: center;
}

.thumbnail-position label {
  margin-right: 10px;
}

.thumbnail-position select {
  margin-right: 10px;
}

.genre-container {
  display: flex;
  align-items: center;
}

.genre-container input[type="checkbox"] {
  margin-right: 5px;
}

.genre-container label {
  margin-right: 10px;
}

.year-container {
  display: flex;
  align-items: center;
}

.year-container label {
  margin-right: 10px;
}