/* ************************************ */
/* ************************************ */
/*            ADMIN PAGE                */
/* ************************************ */
/* ************************************ */

/* The anchor tag is for links that may be useful */
a {
  color: var(--brand-colour);
}

#important-info {
  color: yellow;
}

/* ================================= */
/*            MONITORING             */
/* ================================= */

.monitoring-table {
  border-collapse: collapse;
  width: 50%; /* Set a fixed width for the table */
  margin-right: auto; /* Center the table horizontally */
}

.monitoring-table td {
  border: 1px solid #000; /* Add borders to all table cells */
  padding: 8px; /* Add padding for better spacing */
}

.monitoring-table b {
  font-weight: bold;
}

.monitoring-table td:nth-child(2) {
  padding-left: 20px; /* Adjust the left padding for the second column */
}

.monitoring-table td:first-child {
  width: 30%; /* Set a fixed width for the first column */
}

.monitoring {
  border: 2px solid black;
  margin: 50px;
}

.monitoring-data {
  padding: 5px;
  font-weight: 400;
  color: white;
  background-color: rgb(184, 183, 183);
}

.monitoring-segment {
  color: black;
}

.monitoring-count-error {
  color: var(--alert-colour);
}

.monitoring-count-ok {
  color: var(--valid-colour);
}

/* ================================= */
/* UPLOADING FORMS LAYOUT AND STYLES */
/* ================================= */

.upload_asset_metadata {
  margin: 50px;
  border: 2px solid black;
}

.upload_asset_metadata .upload-entry-forms {
  left: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

#submit-button {
  display: block;
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 16px;
}

#submit-button:disabled {
  background-color: #ccc; 
  color: #666;
  cursor: not-allowed;
}

/* ================================= */
/*         UPLOADING ELEMENTS        */
/* ================================= */


.basic-asset-info {
  background-color: var(--asset-upload-container-colour);
  padding-top: 10px;
}

.thumbnail-title {
  background-color: var(--asset-upload-container-colour);
}
.thumbnail-position {
  align-items: center;
  background-color: var(--asset-upload-container-colour);
  padding-bottom: 10px;
}

.thumbnail-position label {
  margin-right: 10px;
}

.thumbnail-position select {
  margin-right: 10px;
}

.genre-container {
  background-color: var(--asset-upload-container-colour);
  display: flex;
  align-items: center;
}

.genre-container input[type="checkbox"] {
  margin-right: 5px;
}

.genre-container label {
  margin-right: 10px;
}

.year-container {
  background-color: var(--asset-upload-container-colour);
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.year-container label {
  margin-right: 10px;
}

.country-container {
  background-color: var(--asset-upload-container-colour);
  padding-top: 10px;
  padding-bottom: 10px;
}

.subtitle-track-container {
  background-color: var(--asset-upload-container-colour);
  padding-top: 10px;
  padding-bottom: 10px;
}
