/* ************************** */
/* ADMINISTRATOR DELETE FORMS */
/* ************************** */

.delete-form {
  float: right;
}

.delete-button {
  background-color: var(--alert-color-1);
  color: var(--button-colour);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: var(--font-family);
}

.delete-button:hover {
  background-color: var(--alert-color-hover);
  color: var(--base-colour);
}

/* ************************ */
/* ADMINISTRATOR EDIT FORMS */
/* ************************ */

.edit-button-container {
  position: relative;
  float: right;
}
.edit-button {
  position: relative;
  background-color: var(--button-colour);
  color: var(--base-colour);
  border: none;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgb(82, 79, 80);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 16px;
  bottom: 10px; 
  right: 10px;
  padding-left: 10px;
}

.edit-button:hover {
  background-color: var(--button-hover);
}

.edit-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-form input[type="text"],
.edit-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.edit-form button {
  background-color: var(--button-colour);
  color: var(--base-colour);
  border: none;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgb(82, 79, 80);
  cursor: pointer;
  font-family: var(--font-family);
}

.edit-form button:hover {
  background-color: var(--button-hover);
}

/* For darkening the rest of the page when admin edit is selected for a video asset */

.video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.681); /* Semi-transparent black */
}

.video.enlarged .video-overlay {
  display: block;
}

.overlay-active {
  display: block;
}

/* ************************** */
/* ADMINISTRATOR CLOSE EDIT VIEW */
/* ************************** */

.close-admin-view {
  background-color: var(--button-colour);
  box-shadow: 0 4px 8px rgb(82, 79, 80);
  font-family: var(--font-family);
  color: var(--base-colour);
  cursor: pointer;
  border: none;
  margin-left: 0;
  position: absolute;
  right: 0;
}

.close-admin-view:hover {
  background-color: var(--button-hover);
  color: var(--base-colour);
}

/* ************************** */
/* ADMINISTRATOR asset DATA   */
/* ************************** */

.asset-data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.asset-data-button {
  background-color: var(--button-colour);
  color: var(--base-colour);
  border: none;
  box-shadow: 0 4px 8px rgb(82, 79, 80);
  cursor: pointer;
  font-family: var(--font-family);
}

.asset-data-button:hover {
  background-color: var(--button-hover);
}
