/* Reset default styles */
body, html {
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  background-color: white;
}

/* Set font styles */
body {
  font-family: "Press Start 2P", monospace;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.148px;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.video_asset {
  margin: 10px;
  width: 40%; /* Adjust as needed */
}

@media (max-width: 768px) {
  .video_asset {
    width: 80%; /* Adjust for smaller screens */
  }
}

.monitoring {
  border: 2px solid black;
  position: relative;
}
