:root {
  --primary-colour:;
  --backup-colour:;
}

/* Reset default styles */
body, html {
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  background-color: white;
}

/* Set font styles */
body {
  font-family: "Press Start 2P", monospace;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.148px;
}

.monitoring {
  border: 2px solid black;
  margin: 50px;
}

.upload_asset_metadata {
  margin: 50px;
  border: 2px solid black;
}

.asset_info {
  padding: 0px 10px 40px ;
  border: 2px solid black;
  font-weight: 400;
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.5); /* Horizontal line at the top */
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); /* Horizontal line at the bottom */
  border-left: 1px solid rgba(0, 0, 0, 0.5); /* Vertical line at the left */
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
}

.asset_title {
  margin-top:10px;
}

.asset_description {
  margin-top:10px;
}

.asset_notes {
  margin-top:10px;
}

.asset_year {
  margin-top:10px;
}

.monitoring-data {
  padding: 5px;
  font-weight: 400;
  color: white;
  background-color: grey;
}

.monitoring-segment {
  color: black;
}

.monitoring-count-error {
  color: rgb(134, 19, 19);

}

.monitoring-count-ok {
  color: lightgreen;
}

#important-info {
  color: yellow;
}


.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.video_asset {
  margin: 10px;
  width: 40%; /* Adjust as needed */
  height: 40%; /* Adjust as needed */
}

.edit-button {
  background-color: #333; /* Darken button on hover */
  color: white;
  border: none;
  padding: 10px 20px; /* Adjust padding for size */
  box-shadow: 0 4px 8px rgb(82, 79, 80); 
  cursor: pointer; /* Add a pointer cursor for interaction */
  font-family: "Press Start 2P", monospace;
  font-size: 16px; /* Adjust the font size as needed */
}

.edit-button:hover {
  background-color: rgba(65, 23, 63, 0.939); /* Add a shadow */
}

.asset-actions {
  display: none;
  transition: display 0.5s ease;
}

.asset-actions.show {
  display: block;
}