:root {
  --base-colour: #eaeaea;
  --primary-colour:;
  --backup-colour:;
  --alet-colour: rgb(107, 23, 23);
  --alert-color-hover: rgb(134, 19, 19);
  --valid-color: lightgreen;
  --button-colour:  #333;
  --font-family: "Press Start 2P", monospace;
  --button-hover: rgba(65, 23, 63, 0.939);
}

/* ************************************ */
/* ADMINISTRATOR SHOW ASSET ACTIONS BOX */
/* ************************************ */
.asset-actions {
  display: none;
  position: absolute; /* or position: fixed; */
  top: 100%; /* Position the div below the video */
  left: 0;
  width: 100%; /* Take full width of the video container */
  padding: 10px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding in width calculation */
  border: 2px solid black;
  background-color: white; /* Optionally, set a background color */
  z-index: 999;
}

.asset-actions.show {
  display: block;
}

.asset_info {
  padding: 0px 10px 40px ;
  border: 2px solid black;
  font-weight: 400;
}

.asset-data {
  display: none;
  position: relative;
  transition: display 0.5s ease;
}

.asset-data.show {
  display: block;
}

.asset-data-button {
  background-color: var(--button-colour);
  color: var(--base-colour);
  border: none;
  box-shadow: 0 4px 8px rgb(82, 79, 80);
  cursor: pointer;
  font-family: var(--font-family);
}

.asset-data-button:hover {
  background-color: var(--button-hover);
}

.asset_title {
  margin-top:10px;
}

.asset_description {
  margin-top:10px;
}

.asset_notes {
  margin-top:10px;
}

.asset_year {
  margin-top:10px;
}

/* Reset default styles */
body, html {
  margin: 0;
  padding: 0;
}

/* Set a background color */
body {
  background-color: var(--base-colour);
}

/* Set font styles */
body {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 17.148px;
}

.monitoring {
  border: 2px solid black;
  margin: 50px;
}

.upload_asset_metadata {
  margin: 50px;
  border: 2px solid black;
}

.monitoring-data {
  padding: 5px;
  font-weight: 400;
  color: white;
  background-color: grey;
}

.monitoring-segment {
  color: black;
}

.monitoring-count-error {
  color: var(--alert-color);

}

.monitoring-count-ok {
  color: var(--valid-color);
}

#important-info {
  color: yellow;
}

.asset_info {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 2px solid black;
  font-weight: 400;
  word-wrap: break-word; /* Wrap long words */
  overflow-wrap: break-word; /* Break words at any character */
  transition: display 0.3s ease, transform 0.2s ease, z-index 0.2s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: white;
}

.asset_info.show {
  display: block;
  z-index: 1; /* Bring the asset-info to the foreground */
  transform: scale(1.05); /* Expand it slightly */
}

/* ************************** */
/* ADMINISTRATOR DELETE FORMS */
/* ************************** */
.delete-form {
  float: right;
}

.delete-button {
  background-color: var(--alert-color-1);
  color: var(--base-colour);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: var(--font-family);
}

.delete-button:hover {
  background-color: var(--alert-color-hover);
}

.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.5); /* Horizontal line at the top */
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); /* Horizontal line at the bottom */
  border-left: 1px solid rgba(0, 0, 0, 0.5); /* Vertical line at the left */
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ************************ */
/* ADMINISTRATOR EDIT FORMS */
/* ************************ */

.edit-button {
  background-color: var(--button-colour);
  color: var(--base-colour);
  border: none;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgb(82, 79, 80);
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 16px;
}

.edit-button:hover {
  background-color: var(--button-hover);
}

.edit-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.edit-form input[type="text"],
.edit-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.edit-form button {
  background-color: var(--button-colour);
  color: var(--base-colour);
  border: none;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgb(82, 79, 80);
  cursor: pointer;
  font-family: var(--font-family);
}

.edit-form button:hover {
  background-color: var(--button-hover);
}

/* *************************** */
/* ADMINISTRATOR ADD SUB TRACK */
/* *************************** */

.new-track-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.new-track-form input[type="text"],
.new-track-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.new-track-form button {
  background-color: var(--button-colour);
  color: var(--base-colour);
  border: none;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgb(82, 79, 80);
  cursor: pointer;
  font-family: var(--font-family);
}

.new-track-form button:hover {
  background-color: var(--button-hover);
}

video {
  width: 100% !important;
  height: 100% !important;
}

.video_asset:hover {
  z-index: 1; /* Bring the video asset to the foreground */
  transform: scale(1.05); /* Expand it slightly */
}

.video_asset {
  position: relative;
  margin: 10px;
  width: 600px; /* Set a fixed width for each video asset */
  max-width: calc(100% - 20px); /* Set a maximum width with some margin */
  height: auto; /* Allow the height to adjust based on aspect ratio */
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.video-stream {
  width: 100%;
}

.video_asset:hover .asset_info {
  display: block;
  z-index: 1; /* Bring the asset-info to the foreground */
  transform: translateY(100%); /* Move it down by its own height */
  transform-origin: bottom; /* Anchor it to the bottom of the video */
  width: 100%;
  height: auto;
}

footer {
  margin-top:150px;
}

