@import url('style-elements/admin-panel-page.css');
@import url('style-elements/dividers.css');
@import url('style-elements/asset-detail-elements.css');
@import url('style-elements/admin-edit.css');
@import url('style-elements/new-track.css');
@import url('style-elements/video-fullscreen-mode.css');
@import url('style-elements/ui-ux-functionality.css');
@import url('style-elements/navigation_tool.css');
@import url('branding.css');
@import url('user_metrics.css');
@import url('login_page.css');
@import url('style-elements/overlay-text.css');

:root {
  --base-colour: #eaeaea;
  --primary-colour:;
  --backup-colour:;
  --alert-colour: rgb(107, 23, 23);
  --alert-color-hover: rgb(134, 19, 19);
  --valid-colour: rgb(32, 168, 32);
  --valid-colour-b: rgb(20, 98, 20);
  --button-colour:  #333;
  --font-family: "Press Start 2P", monospace;
  --button-hover: rgba(65, 23, 63, 0.939);
  --brand-colour:  rgb(104, 37, 104);
  --asset-upload-container-colour: rgb(184, 183, 183);
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-colour);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 17.148px;
  overflow-x: hidden;
}

body.dark-mode {
  background-color: var(--button-colour);
  color: #ffffff;
}

footer {
  margin-top:150px;
}

/* ************************************ */
/* INDEX PAGE                           */
/* ************************************ */

.asset-actions {
  display: none;
  position: absolute; /* or position: fixed; */
  top: 100%; /* Position the div below the video */
  left: 0;
  width: 100%; /* Take full width of the video container */
  padding: 10px;
  box-sizing: border-box; /* Include padding in width calculation */
  border: 2px solid black;
  background-color: white; 
  z-index: 999;
}

.asset-actions.show {
  display: block;
}

/* ************************************ */
/* ASSET INFO                           */
/* ************************************ */

.asset_info {
  display: block;
  position: absolute;
  margin: 0;
  background-color: white;
  border: 2px solid black;

  font-weight: 400;
  /* word-wrap: break-word; */
  /* overflow-wrap: break-word; */
  /* transition: display 0.3s ease, transform 0.2s ease, z-index 0.2s ease; */
  /* transform: translateY(100%); */

  bottom: 0;
  /* left: 0; */
  /* height: 100%; */
  height: 360px;
  width: 100%;

  padding: 10px; 
  padding: 0px; 
  margin-top: 20px; 
  box-sizing: border-box;
  color: black !important; 
  z-index: 999;
}

.video_asset:hover .asset_info {
  display: block;
  z-index: 2;
  /* transform: translateY(100%); */
  /* transform-origin: bottom; */
  width: 100%;
  height: 360px;
  overflow-y: auto;
}

.asset_duration img,
.asset_language img,
.asset_subtitle_names img {
  width: 10px;
  height: 10px;
}

.asset-icon-section {
  display: flex;
  align-items: center;
}

.asset-icon-section > div {
  margin-right: 10px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {

  .asset_info {
    display: none;
  }

  .video_asset:hover .asset_info {
    background-color: var(--base-colour);
    position: absolute;
    top: 0;
    right:0;
    width: 50%;
    font-size: 8px;
    margin-top: 0px !important;
    height: calc(100% - 5px);
    border: 1px solid black;
    z-index: 2;
    /* height: 100%; */
    overflow: auto;
    bottom: 0;
    display: block;
  }

  .asset_duration img,
  .asset_language img,
  .asset_subtitle_names img {
    width: 10px;
    height: 10px;
  }

  .asset-icon-section {
    display: flex;
    align-items: center;
  }

  .asset-icon-section > div {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .asset_description {
    margin-top: 0px !important;
  }

  .asset_year {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    margin: 0 10px;
    right: 3px;
    top: 3px;
    white-space: nowrap;
  }
  

  .divider {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .fullscreen-button {
    padding: 2px 3px;
    margin-top: 1px;
    font-size: 12px;
    box-shadow: -2px 4px 2px black;
    background-color: rgb(58, 58, 167);
    /* background-color: var(--base-colour); */
    color: var(--button-colour);
    color: var(--base-colour);
    cursor: pointer;
    font-family: var(--font-family);
    margin-bottom: 0px;
    top: 0px;
  }
}

/* .asset_info.show {
  display: block;
  z-index: 1;
  transform: scale(1.05);
} */

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.video_asset {
  position: relative;
  margin: 10px;
  width: 600px;
  max-width: calc(100% - 20px);
  height: auto;
}


.video-stream {
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}


.overlay-text-pre.hide-overlay {
  display: none;
}
