@import url('admin-panel-page.css');
@import url('dividers.css');
@import url('asset-detail-elements.css');
@import url('admin-edit.css');
@import url('new-track.css');

:root {
  --base-colour: #eaeaea;
  --primary-colour:;
  --backup-colour:;
  --alet-colour: rgb(107, 23, 23);
  --alert-color-hover: rgb(134, 19, 19);
  --valid-color: lightgreen;
  --button-colour:  #333;
  --font-family: "Press Start 2P", monospace;
  --button-hover: rgba(65, 23, 63, 0.939);
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-colour);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 17.148px;
}


/* ************************************ */
/* INDEX PAGE                           */
/* ************************************ */

/* ************************************ */
/* ADMINISTRATOR SHOW ASSET ACTIONS BOX */
/* ************************************ */

.asset-actions {
  display: none;
  position: absolute; /* or position: fixed; */
  top: 100%; /* Position the div below the video */
  left: 0;
  width: 100%; /* Take full width of the video container */
  padding: 10px; /* Adjust padding as needed */
  box-sizing: border-box; /* Include padding in width calculation */
  border: 2px solid black;
  background-color: white; /* Optionally, set a background color */
  z-index: 999;
}

.asset-actions.show {
  display: block;
}

.asset-data {
  display: block;
  position: relative;
  transition: display 0.5s ease;
}

.asset-data.show {
  display: block;
}

.asset-data-button {
  background-color: var(--button-colour);
  color: var(--base-colour);
  border: none;
  box-shadow: 0 4px 8px rgb(82, 79, 80);
  cursor: pointer;
  font-family: var(--font-family);
}

.asset-data-button:hover {
  background-color: var(--button-hover);
}

.asset_info {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 2px solid black;
  font-weight: 400;
  word-wrap: break-word; /* Wrap long words */
  overflow-wrap: break-word; /* Break words at any character */
  transition: display 0.3s ease, transform 0.2s ease, z-index 0.2s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: white;
}

.asset_info.show {
  display: block;
  z-index: 1; /* Bring the asset-info to the foreground */
  transform: scale(1.05); /* Expand it slightly */
}

.close-admin-view {
  background-color: var(--button-colour);
  box-shadow: 0 4px 8px rgb(82, 79, 80);
  font-family: var(--font-family);
  color: var(--base-colour);
  cursor: pointer;
  border: none;
  margin-left: 0;
  position: absolute;
  right: 0;
}

.close-admin-view:hover {
  background-color: var(--button-hover);
  color: var(--base-colour);
}

.video_asset:hover {
  z-index: 1; /* Bring the video asset to the foreground */
  transform: scale(1.05); /* Expand it slightly */
}

.video_asset {
  position: relative;
  margin: 10px;
  width: 600px; /* Set a fixed width for each video asset */
  max-width: calc(100% - 20px); /* Set a maximum width with some margin */
  height: auto; /* Allow the height to adjust based on aspect ratio */
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.video-stream {
  width: 100%;
}

.video_asset:hover .asset_info {
  display: block;
  z-index: 1; /* Bring the asset-info to the foreground */
  transform: translateY(100%); /* Move it down by its own height */
  transform-origin: bottom; /* Anchor it to the bottom of the video */
  width: 100%;
  height: auto;
}

footer {
  margin-top:150px;
}

.video_asset .asset_info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.asset-data {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

  /* CSS styles for full-screen button */
.fullscreen-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

/* Enlarge the video to cover the entire screen */
.video-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
