#show-all-user-metrics {
  background-color: var(--button-colour);
  font-family: var(--font-family);
  color: white;
  border: 1px solid var(--base-colour);
  padding: 5px 5px;
  cursor: pointer;
}

#show-less-user-metrics {
  background-color: var(--button-colour);
  font-family: var(--font-family);
  color: white;
  border: 1px solid var(--base-colour);
  padding: 5px 5px;
  cursor: pointer;
}

/* button for switching between light and dark mode */

#dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  background-color: var(--button-colour);
  font-family: var(--font-family);
  color: white;
  border: 1px solid var(--base-colour);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.admin-nav {
  margin: 50px;
}

.admin-nav a {
  background-color: var(--button-colour);
  color: white;
  border: 0.5px solid gray;
  box-shadow: 4px 4px 0px var(--base-colour); 
  padding: 10px 20px;
  text-decoration: none;
  font-family: var(--font-family);
  text-shadow: 0 0 0 white;
}

.admin-nav a:hover {
  background-color: darkblue;
}

.brand-title {
  margin: 30px;
}

.brand-title {
  margin: 30px;
  font-family: var(--font-family) ;
  font-size: 15px ;
}

@media only screen and (max-width: 600px) {
  .brand-title {
    font-size: 10px;
  };
}

@media only screen and (max-width: 600px) {
  #dark-mode-toggle {
    top: 25px;
    font-size: 10px;
  }
};