/* FULL SCREEN STUFF */

.fullscreen-button {
  position: relative;
  top: 10px;
  left: 10px;
  /* right: 10px; */
  margin-bottom: 10px;
  z-index: 1;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  box-shadow: -2px 4px 2px black;
  cursor: pointer;
  font-family: var(--font-family);
}

.fullscreen-button:hover {
  background-color: var(--button-colour);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

/* Enlarge the video to cover the entire screen */
.video-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.full-screen-overlay {
  position: absolute;
  display: none;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.5s;
}

#back-button {
  color: var(--base-colour);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: 36px;
  position: fixed;
  top: 10px;
  right: 10px;
}

.overlay-text {
  position: fixed;
  bottom: 50px;
  left: 50px; 
  color: var(--base-colour);
}

#video-title {
  font-family: var(--font-family);
  font-size: 46px;
  margin-top: 10px; 
}

#video-director {
  font-family: var(--font-family);
  font-size: 30px;
  margin-top: 30px; 
}

#video-description {
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 26px;
  margin-top: 20px; 
  line-height: 1.4;
}

@media (max-width: 600px) {

  .overlay-text {
    bottom: 20px;
    left: 10px; 
  }
  
  #video-title {
    font-size: 20px;
  }
  
  #video-director {
  font-size: 15px;
  margin-top: 10px; 
  }
  
  #video-description {
  font-size: 10px;
  margin-top: 0px; 
  }

  #back-button {
    padding: 10px 10px;
    font-size: 20px;
    right: 5px;
  }
}

@media (max-height: 1000px) {

  .overlay-text {
    bottom: 20px;
    left: 10px; 
  }
  
  #video-title {
    font-size: 20px;
  }
  
  #video-director {
  font-size: 15px;
  margin-top: 10px; 
  }
  
  #video-description {
  font-size: 10px;
  margin-top: 0px; 
  }

  #back-button {
    padding: 10px 10px;
    font-size: 20px;
    right: 5px;
  }
}

.overlay-text-pre {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  display: block;
  /* color: white; */
  color: var(--base-colour);
  /* text-shadow: 0 0 2px black; */
  font-family: var(--font-family);
  font-size: 24px;
  text-align: left;
  padding: 10px; 
  box-sizing: border-box;
  left: 20px; 
  bottom: 10px; 
}

.overlay-text-pre .video-title {
  font-weight: bold;
}

.overlay-text-pre .video-director {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .overlay-text-pre {
    font-size: 14px;
    left: 5px; 
    bottom: 5px; 
  }
}

